body {
  background: linear-gradient(to right, rgb(blue));
  background-size: cover;
  padding: 20px;
}
label {
  font-weight: 500;
  margin-right: 20px;
}

.app-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  column-gap: 20px;
}

.search {
  margin: 20px 0;
}

.users-container {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.user-container {
  padding: 10px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  margin: 20px 0;
}

.user-container > input {
  width: 100%;
  background-color: green;
}

.user-form {
  width: 100%;
}

.other_user_data > form {
  background-color: lightgray;
  border: 1px solid black;
  border-radius: 14px;
  padding: 8px;
  margin: 10px;
}

.posts_and_todos {
  width: 400px;
}

.posts-container,
.todos-container {
  margin-bottom: 20px;
}

.posts-header,
.todos-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.posts-header > input,
.todos-header > input {
  width: 100px;
  height: 50px;
  margin: auto 20px;
}

.posts,
.todos {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  border: 2px solid black;
  padding: 10px;
}

.post-item,
.todo-item {
  border: 1px solid black;
  padding: 10px;
}

.new_todo {
  border: 1px solid black;
  padding: 30px;
}

.cancel_button {
  float: right;
  width: 70px;
  height: 30px;
}

.add_button {
  float: right;
  width: 70px;
  height: 30px;
}

.title {
  margin-bottom: 20px;
}

.add_new_user {
  border: 1px solid black;
  padding: 16px;
}
